{% extends 'base.html' %} {% load custom_tags %} {% block body %}

<style>
  .scrollable-list::-webkit-scrollbar {
  width: 7px;
  }

.scrollable-list::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 15px;
  } 

  .scrollable-list::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius:15px;
  }

  .scrollable-list::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  }
</style>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex justify-content-end">
      <div class="dropstart ms-3">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle me-md-5"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          {{current_sem.name}}
        </button>
        <ul class="dropdown-menu">
          {% for sem in semester %}
          <form action="/sem" method="post">
            {% csrf_token %}
            <input type="text" hidden name="sem_id" value="{{sem.id}}" />
            <li class="dropdown-item">
              <input
                class="w-100"
                style="border: none"
                type="submit"
                value="{{sem.name}}" />
            </li>
          </form>
          {% endfor %}
        </ul>
      </div>
      <div class="me-4">{{request.user.first_name}} {{request.user.last_name}}</div>
      <div><a href="/predict_job" class="text-decoration-none btn btn-success btn-large">Predict Job</a></div>
    </div>
  </nav>
  <div id="wrapper" class="container pt-5">
    <div class="container-fluid">
      <div class="row">
        {% for sub in current_sem.subjects.all %}
        <div class="col-xl-4 col-md-6 mb-4" >
          <div
            class="card shadow h-100 py-2"
            style="border-left: 6px solid green;">
            <div class="card-body">
              <h5
                class="font-weight-bold text-uppercase mb-1 "
                style="min-height: 60px">
                {{sub.name}}
              </h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="h5 mb-0 font-weight-bold ">
                  {% calculate_syllabus_coverage sub request.user %}%
                </div>
                <a
                  type="button"
                  href="roadmap/{{sub.name}}"
                  class="btn btn-success btn-sm"
                  >Continue Studying</a
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="mt-5">
        <h5 class="text-center p-2 shadow mb-5 rounded-2 py-3">
          {{quote.get_random_quote}}
        </h5>
      </div>

      <!-- Area Chart -->
      <div class="row">
        <div class="col">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-success">
                Syllabus Covered
              </h6>
            </div>
            <div class="card-body">
              {% for sub in Subjects %}
              <h4 class="small font-weight-bold ">
                {{sub.name}}
                <span class="float-right">
                  {% calculate_syllabus_coverage sub request.user %}%</span
                >
              </h4>
              <div class="progress mb-4">
                <div
                  class="progress-bar bg-danger bg-gradient"
                  role="progressbar"
                  style="width:{% calculate_syllabus_coverage sub request.user %}%;"
                  aria-valuenow="{% calculate_syllabus_coverage sub request.user %}"
                  aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-success">
                Relative Progress
              </h6>
            </div>
            <div class="card-body">
              <div
                class="container d-flex justify-content-center align-items-center mb-3 text-light"
                style="height: 400px">
                <canvas id="overallProgressChart" ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        {% for sub in Subjects %}
        <div class="col-xl-4 col-md-6">
          <div class="card shadow mb-4">
            <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">
                Rankings - {{sub.name}}
              </h6>
            </div>
            <div
              class="card-body scrollable-list overflow-y-scroll"
              style="max-height: 450px; height: 450px">
              <ul class="list-group list-group-flush">
                {% for test in sub|get_all_UserQuizAttempt_per_subject %}
                <li class="list-group-item">
                  <div
                    class="row rounded-2 {% if test.user == request.user%} bg-success-subtle{% endif %}">
                    <div class="col-9 col-md-10">
                      {% if forloop.first %}<i
                        class="fa-solid fa-crown fa-bounce"></i
                      >{% endif %} {% if forloop.counter == 2 %}<i
                        class="fa-solid fa-trophy"></i
                      >{% endif %} {% if forloop.counter == 3 %}<i
                        class="fa-solid fa-shield-halved"></i
                      >{% endif %} {{test.user.username|truncatechars:30}}
                    </div>
                    <div class="col-3 col-md-2 text-end">
                      {{test.percentage}}
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% include 'footer.html' %}
    </div>
  </div>
</div>

<script>
  const ctx = document.getElementById("overallProgressChart");
  let subs = "{% for sub in Subjects %}{{sub.name}}|{% endfor %}".split("|");
  let syllabus_covered =
    "{% for sub in Subjects %}{% calculate_syllabus_coverage sub request.user %}|{% endfor %}".split(
      "|"
    );

  subs.pop();
  syllabus_covered.pop();

  new Chart(ctx, {
    type: "doughnut",
    data: {
      labels: subs,
      datasets: [
        {
          label: "Covered %",
          data: syllabus_covered,
          borderWidth: 1,
        },
      ],
    },
  });

</script>

{% endblock body %}
